<%-include("./partial/header") -%>

<div class="container text-center" style="margin-top: 50px;" >
    <h2 class="lead" style="font-size: 25px;">Daily Journal is an online journal or informational site where you can read and write blogs</h2>
    <h1 class="display-4 " style="margin-top:100px;">DAILY JOURNAL</h1>
    <i class="fa fa-book fa-6x" style="font-size: 100px; color:#1abc9c" aria-hidden="true"></i>
    <h2 class="lead" style="font-size:25px">Reading illuminates our path with the brightest light</h2>
</div>
<%-include("./partial/footer") -%>