<%-include("./partial/header") -%>

<div class="text-center">
    <h2 class="aboutHeading">Daily Journal is an online journal or informational site where you can read and write blogs</h2>
    <h1 class="Dailyadd">DAILY JOURNAL</h1>
    <i class="fa fa-book fa-6x book-logo" aria-hidden="true"></i>
    <h2 class="aboutContent" >Reading illuminates our path with the brightest light</h2>
    <h2 class="aboutHeadingmob">Daily Journal is an online journal or informational site where you can read and write blogs</h2>

</div>
<%-include("./partial/footer") -%>