
<%-include("./partial/header") -%>



<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/contact.css">

<div class="container text-center"" >
    <h1 class="Dailyadd">DAILY JOURNAL</h1>
    <i class="fa fa-book fa-6x book-logo"  aria-hidden="true"></i>
    <h2 class="aboutContent">Reading illuminates our path with the brightest light</h2>
</div>

<div class="social text-center adjustmob" style="margin-top: 100px;">

  <a class="social-icon iconsocial" data-tooltip="jatinkumarjk2001@gmail.com" href="mailto:jatinkumarjk2001@gmail.com">
    <i class="fa fa-envelope iconlogo" aria-hidden="true" ></i>
  </a>

  <a class="social-icon iconsocial "  data-tooltip="GitHub" href="https://github.com/jatin2001">
    <i class="fa fa-github iconlogo" aria-hidden="true" ></i>
  </a>

  <a class="social-icon icon1 iconsocial"  data-tooltip="LinkedIn" href="https://www.linkedin.com/in/jatin-kumar-089759169/">
    <i class="fa fa-linkedin iconlogo" aria-hidden="true"></i>
  </a>

  <a class="social-icon icon1 iconsocial" data-tooltip="Twitter" href="https://twitter.com/Jatin12174208">
    <i class="fa fa-twitter iconlogo" aria-hidden="true" ></i>
  </a>

  <a class="social-icon icon1 iconsocial" data-tooltip="Facebook" href="https://www.facebook.com/jatin.developer.2001">
    <i class="fa fa-facebook iconlogo" aria-hidden="true"></i>
  </a>

  <a class="social-icon icon1 iconsocial"  data-tooltip="Instagram" href="https://instagram.com/jatin_kumar2001">
    <i class="fa fa-instagram iconlogo" aria-hidden="true" ></i>
  </a>
</div>
<%- include("./partial/footer")-%>