
<%-include("./partial/header") -%>



<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/contact.css">

<div class="container text-center" style="margin-top: 50px;" >
    <h1 class="display-4">DAILY JOURNAL</h1>
    <i class="fa fa-book fa-6x" style="font-size: 100px; color:#1abc9c" aria-hidden="true"></i>
    <h2 class="lead" style="font-size:25px">Reading illuminates our path with the brightest light</h2>
</div>

<div class="social text-center" style="margin-top: 100px;">

  <a class="social-icon " style="height:100px;width: 100px;border-radius: 20px;" data-tooltip="jatinkumarjk2001@gmail.com" href="mailto:jatinkumarjk2001@gmail.com">
    <i class="fa fa-envelope " aria-hidden="true" style="font-size: 50px;margin-top:15px;"></i>
  </a>

  <a class="social-icon " style="height:100px;width: 100px;border-radius: 20px;" data-tooltip="GitHub" href="https://github.com/jatin2001">
    <i class="fa fa-github" aria-hidden="true" style="font-size: 50px;margin-top:15px;"></i>
  </a>

  <a class="social-icon icon1" style="height:100px;width: 100px;border-radius: 20px;" data-tooltip="LinkedIn" href="https://www.linkedin.com/in/jatin-kumar-089759169/">
    <i class="fa fa-linkedin" aria-hidden="true" style="font-size: 50px;margin-top:15px;"></i>
  </a>

  <a class="social-icon icon1" style="height:100px;width: 100px;border-radius: 20px;" data-tooltip="Twitter" href="https://twitter.com/Jatin12174208">
    <i class="fa fa-twitter" aria-hidden="true" style="font-size: 50px;margin-top:15px;"></i>
  </a>

  <a class="social-icon icon1" style="height:100px;width: 100px;border-radius: 20px;" data-tooltip="Facebook" href="https://www.facebook.com/jatin.developer.2001">
    <i class="fa fa-facebook" aria-hidden="true" style="font-size: 50px;margin-top:15px;"></i>
  </a>

  <a class="social-icon icon1" style="height:100px;width: 100px;border-radius: 20px;" data-tooltip="Instagram" href="https://instagram.com/jatin_kumar2001">
    <i class="fa fa-instagram " aria-hidden="true" style="font-size: 50px;margin-top:15px;"></i>
  </a>
</div>
<%- include("./partial/footer")-%>