<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body background="white">
    <form action="/signup" method="post">
        <h2>Sign Up</h2>
              <p>
                    <label for="firstName" class="floatLabel" aria-autocomplete="off">First Name</label>
                     <input id="firstName" name="firstName" type="text" required>
              </p>
              <p>
                <label for="lastName" class="floatLabel">Last Name</label>
                <input id="lastName" name="lastName" type="text" required>
              </p>
              <p>
                  <label for="Email" class="floatLabel">Email</label>
                  <input id="Email" name="Email" type="text"  required>
              </p>
              <p>
                  <label for="password" class="floatLabel">Password</label>
                  <input id="password" name="password" type="password"  required>
              </p>
              <p>
                  <input type="submit" id="submit">
              </p>

              
        </form>
</body>
</html>