body {
    background:white;
    font-family: sans-serif;
    font-size: 10px;
  }
  
  .signup {
    background: #fff;
    padding: 1em 4em 1em;
    width: 500px;
    margin: 50px auto 50px;
    box-shadow: 0 0 1em #1abc9c;
    border-radius: 10px;
  }
  .socialbuttons{
    background: #fff;
    padding: 4em 4em 4em;
    height: 250px;
    margin: 150px auto 200px;
    box-shadow: 0 0 1em #1abc9c;
    border-radius: 10px;
  }
  form h2 {
    margin: 20px 0 20px 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #666666;
    border-bottom: solid 1px #e5e5e5;
  }
  form p {
  
    position: relative;
  }
  form input {
    height: 55px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
  }
  form input[type="text"],
  form input[type="password"],form input[type="email"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: 0.8em 0.5em;
    border-radius: 2px;
  }
  form input[type="text"]:focus,
  form input[type="password"]:focus, form input[type="email"]:focus{
    background: #fff;
  }
  form span {
    display: block;
    background: #f9a5a5;
    padding: 2px 5px;
    color: #666;
  }
  form input[type="submit"] {
    height:auto;
    background:  #1abc9c;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    margin-top:px;
    line-height: 1.6em;
    outline: none;
    padding: 0.5em 0;
    text-shadow: 0 1px #68b25b;
  }
  form input[type="submit"]:hover {
    background: #1abc9c;
    text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
  }
  form label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
  }
  form label.floatLabel {
    top: -38px;
    margin-top:20px;
    font-size: 14px;
  }
  .login{
    font-size: 15px;
    padding-bottom: 25px;
  }
  .signup-form{
      display: flex;
  }
  @media only screen and (max-width: 1030px) {
    .signup-form{
      display: flex;
      flex-direction: column;
    }
    .signup {
      background: #fff;
      padding: 1em 4em 1em;
      width: 80%;
      margin: 25px auto 25px;
      box-shadow: 0 0 1em #1abc9c;
      border-radius: 10px;
    }
    .socialbuttons{
      background: #fff;
      padding: 4em 4em 4em;
      width:80%;
      height: 40%;
      margin: 10px auto 200px;
      box-shadow: 0 0 1em #1abc9c;
      border-radius: 10px;
    }
    .signupHeading{
      font-size: 4em;
    }
    form p {
      margin-top:45px;
      position: relative;
    }

    form input {
      height: 50px;
      margin-left:2.5%;
      display: block;
      box-sizing: border-box;
      width: 95%;
    }

    
    form label.floatLabel {
      margin-top:18px;
      margin-left:0px;
      font-size: 1.7em;
    }
    
    form input[type="text"],
    form input[type="password"],
    form input[type="email"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.8em;
    padding: 0.8em 0.5em;
    border-radius: 10px;
    }
    form input[type="submit"] {
      height:50px;
      background:  #1abc9c;
      border-radius: 10px;
      border: none;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 2em;
      line-height: 1.6em;
      outline: none;
      padding: 0 0;
      text-shadow: 0 1px #68b25b;
    }
    .login{
      font-size: 1.8em;
      margin-left:2%;
      padding-bottom: 25px;
    }
    .facebookLogin{
      width:97%;
      margin-left:1%;
      height: 50px;
      margin-top:25px;
      font-size: 2em;
      text-align: center;
      margin-right:-50px;
      border-radius: 10px;
      padding-top: 15px;
    }
    .googleLogin{
      width:97%;
      margin-left: 1%;
      height: 50px;
      text-align: center;
      margin-top:25px;
      font-size: 2em;
      margin-top:25px;
      border-radius: 10px;
      padding-top: 15px;
    } 
  }
  @media only screen and (min-device-width : 280px) and (max-device-width : 480px) 
  {
    .signup-form{
      display: flex;
      flex-direction: column;
    }
    .signup {
      background: #fff;
      padding: 1em 4em 1em;
      width: 95%;
      margin: 50px auto 50px;
      box-shadow: 0 0 1em #1abc9c;
      border-radius: 10px;
    }
    .socialbuttons{
      background: #fff;
      padding: 4em 4em 4em;
      width:95%;
      height: 40%;
      margin: 10px auto 200px;
      box-shadow: 0 0 1em #1abc9c;
      border-radius: 10px;
    }
    .signupHeading{
      font-size: 8em;
    }
    form p {
      margin-top:45px;
      position: relative;
    }

    form input {
      height: 150px;
      margin-left:2.5%;
      display: block;
      box-sizing: border-box;
      width: 95%;
    }

    
    form label.floatLabel {
      margin-top:5px;
      margin-left:20px;
      font-size: 4em;
    }
    
    form input[type="text"],
    form input[type="password"],
    form input[type="email"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 4.5em;
    padding: 0.8em 0.5em;
    border-radius: 10px;
    }
    form input[type="submit"] {
      height:125px;
      background:  #1abc9c;
      border-radius: 10px;
      border: none;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 5em;
      line-height: 1.6em;
      outline: none;
      padding: 0 0;
      text-shadow: 0 1px #68b25b;
    }
    .login{
      font-size: 4em;
      margin-left:2%;
      padding-bottom: 25px;
    }
    .facebookLogin{
      width:97%;
      margin-left:1%;
      height: 100px;
      margin-top:25px;
      font-size: 4em;
      text-align: center;
      margin-right:-50px;
      border-radius: 20px;
      padding-top: 25px;
    }
    .googleLogin{
      width:97%;
      margin-left: 1%;
      height: 100px;
      text-align: center;
      margin-top:25px;
      font-size: 4em;
      margin-top:25px;
      border-radius: 25px;
      padding-top: 25px;
    }
  }
  @media (min-device-width: 481px) and (max-device-width: 812px)
  {
    .signup-form{
      display: flex;
      flex-direction: column;
    }
    .signup {
      background: #fff;
      padding: 1em 4em 1em;
      width: 80%;
      margin: 25px auto 25px;
      box-shadow: 0 0 1em #1abc9c;
      border-radius: 10px;
    }
    .socialbuttons{
      background: #fff;
      padding: 4em 4em 4em;
      width:80%;
      height: 40%;
      margin: 10px auto 200px;
      box-shadow: 0 0 1em #1abc9c;
      border-radius: 10px;
    }
    .signupHeading{
      font-size: 4em;
    }
    form p {
      margin-top:45px;
      position: relative;
    }

    form input {
      height: 75px;
      margin-left:2.5%;
      display: block;
      box-sizing: border-box;
      width: 95%;
    }

    
    form label.floatLabel {
      margin-top:12px;
      margin-left:10px;
      font-size: 2.2em;
    }
    
    form input[type="text"],
    form input[type="password"],
    form input[type="email"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 2.5em;
    padding: 0.8em 0.5em;
    border-radius: 10px;
    }
    form input[type="submit"] {
      height:75px;
      background:  #1abc9c;
      border-radius: 10px;
      border: none;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 3em;
      line-height: 1.6em;
      outline: none;
      padding: 0 0;
      text-shadow: 0 1px #68b25b;
    }
    .login{
      font-size: 2.7em;
      margin-left:2%;
      padding-bottom: 25px;
    }
    .facebookLogin{
      width:97%;
      margin-left:1%;
      height: 75px;
      margin-top:25px;
      font-size: 2.5em;
      text-align: center;
      margin-right:-50px;
      border-radius: 15px;
      padding-top: 25px;
    }
    .googleLogin{
      width:97%;
      margin-left: 1%;
      height: 75px;
      text-align: center;
      margin-top:25px;
      font-size: 2.5em;
      margin-top:25px;
      border-radius: 15px;
      padding-top: 25px;
    }
  }