
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color:black !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  background-color: #1abc9c;
    
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.dropdown {
    margin-bottom:-30px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    margin-top:-20px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .header-body{
    background-color:#1abc9c;
    display: flex;
    justify-content: center;
  }
  .header-width{
    width:80vw;
    display: flex;
    justify-content: space-between;
  }
  .header-content{
    color:white; margin-left:13px;font-size: 13px;
  }
  .dropbtnheader{
    display: none;
  }
  .header-logo{
    font-size: 40px;
  }
  .responsive-login{
    display: none;
  }

  @media only screen and (max-width:992px){

    .header-width{
    width:100vw;
    display: flex;
    justify-content: space-between;
  }
  .header-brand{
    font-size: 60px;
  }
  .header-ul{
    display:none;
  }
  .responsive-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
  }
  /* Style The Dropdown Button */
  .dropbtnheader {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownheader {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-contentheader {
    width:  70vw;
    height: 100vh;
    display: none;
    text-align: center;
    position: absolute;
    background-color:#1abc9c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:0;
    top:0;
    position:fixed;
    z-index: 1;
  }
  .show{
    display: block;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentelement {
    color: white;
    margin-top:30px;
    width: 100%;
    background-color:#1abc9c; 
    border-radius: 25px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contentelement:hover{
    background-color:#1da58a; 
  }
  .dropdown-contentelement a{
    font-size: 40px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contentheader a:hover {color:black;}
  
  /* Show the dropdown menu on hover */
  
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownheader:hover .dropbtnheader {
    background-color: #3e8e41;
  }
  .loginhead{
    display: none;
  }
  .avatarhead{
    display: none;
  }

  .footer{
    height: 120px;
    padding-top: 20px;
  }
  .footer p{
    font-size: 30px;
  }
  }



  
 