.body{
  min-width: 1100px;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color:black !important;
}


.footer-padding{
  padding-top: 60px;
}
.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  background-color: #1abc9c;
    
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.dropdown {
    margin-bottom:-30px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    margin-top:-20px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .header-body{
    background-color:#1abc9c;
    display: flex;
    justify-content: center;
  }
  .header-width{
    width:80vw;
    display: flex;
    justify-content: space-between;
  }
  .header-content{
    color:white; margin-left:13px;font-size: 13px;
  }
  .dropbtnheader{
    display: none;
  }
  .header-logo{
    font-size: 40px;
  }
  .responsive-login{
    display: none;
  }
  .dashboardresp{
    display: none;
  }
  .body-width{
    width: 80%;
    margin-left:10%;
  }
  .Dailyadd{
    font-size: 55px;
    font-weight: 100;
    margin-top: 100px;
  }
  .aboutHeading{
    font-size: 25px;
    font-weight: 300;
    margin-top:50px;
  }
  .aboutHeadingmob{
    display: none;
  }
  .book-logo{
    font-size: 100px;
    color:#1abc9c
  }
  .aboutContent{
    font-size: 25px;
    font-weight: lighter;
}
    /* ----------------------------------------------------------------------------------------------------------------------------------- */

  @media (min-device-width: 481px) and (max-device-width: 812px) {
     .body-width{
       width: 90%;
       margin-left:5%;
     }
    .header-width{
      width:100vw;
      display: flex;
      justify-content: space-between;
    }
    .header-brand{
      font-size: 30px;
    }
    .header-ul{
      display:none;
    }
    .ulimg{
      height: 100px;
      width:100px;
      margin-left: 20px;
    }
    .userhr{
      margin-left:10px;
      border: 3px solid white;
    }
    .responsive-login{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:50px;
    }
    /* Style The Dropdown Button */
    .dropbtnheader {
      display: block;
      color: white;  
      font-size: 50px;
      margin-left:25px;
      padding-top: 15px;
      border: none;
      cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdownheader {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-contentheader {
      height: 100vh;
      display: none;
      padding-left: 5vw;
      padding-right: 10vw;
      position: absolute;
      background-color:#1abc9c;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      left:0;
      top:0;
      position:fixed;
      z-index: 1;
      overflow-y: auto;
    }
    .show{
      display: block;
    }
    
    /* Links inside the dropdown */
    .dropdown-contentelement {
      color: white;
      margin-top:30px;
      width: 100%;
      padding-left: 35%;
      background-color:#1abc9c; 
      border-radius: 25px;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-contentelement:hover{
      background-color:#1da58a; 
    }
    .dropdown-contentelement a{
      font-size: 20px;
    }
    .userName{
      font-size: 20px;
      color:white
    }
    /* Change color of dropdown links on hover */
    .dropdown-contentheader a:hover {color:black;}
    
    /* Show the dropdown menu on hover */
    
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdownheader:hover .dropbtnheader {
      background-color: #3e8e41;
    }
    .dashboardresp{
      display:block;
    }
    .loginhead{
      display: none;
    }
    .home-title{
      font-size: 3em;
      width: 100%;
    }
    .post-title{
      font-size: 2.2em;
      word-wrap: break-word;
      width: 100%;
    }
    .post-content{
      font-size: 1.5em;
      word-wrap: break-word;
      line-height: 1.5em;
      font-weight: 200;
    }
    .Dailyadd{
      text-shadow:3px 3px #1abc9c;
    }
    .aboutHeading{
      text-shadow:2px 2px #1abc9c;
    }
    .aboutContent{
      text-shadow:2px 2px #1abc9c;
    }
    .compose-heading{
      margin-top:50px;
      text-align: center;
      font-size: 3em;
    }
    .compose-label{
      font-size: 2em;
    }
    .title-input{
      height: 50px;
      font-size: 1.5em;
    }
    .content-input
    { 
      font-size: 1.5em;
    }
    .page-title{
      margin-top:30px;
      text-align: center;
      font-size: 3em;
    }
    .page-content{
      margin-top:30px;
      font-size: 1.7em;
      line-height: 1.3em;
    }
    .writer-info{
      font-size: 1.7em;
      line-height: 1em;
    }
    .footer{
      bottom:0;
      height: 40px;
      
    }
    .footer p{
      margin-top: 10px;
      font-size: 15px;
    }
    
  }
  /* ----------------------------------------------------------------------------------------------------------------------------------- */
 @media only screen and (min-device-width : 280px) and (max-device-width : 480px) 
{
  .body-width{
    width: 90%;
    margin-left:5%;
  }
  .header-width{
    width:100vw;
    display: flex;
    justify-content: space-between;
  }
  .header-brand{
    font-size: 60px;
  }
  .header-ul{
    display:none;
  }
  .responsive-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
  }
  /* Style The Dropdown Button */
  .dropbtnheader {
    display: block;
    color: white;  
    font-size: 70px;
    margin-left:25px;
    padding-top:25px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownheader {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-contentheader {
    height: 100vh;
    display: none;
    padding-left: 10vw;
    padding-right: 10vw;
    position: absolute;
    background-color:#1abc9c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:0;
    top:0;
    position:fixed;
    z-index: 1;
    overflow-y: auto;
  }
  .show{
    display: block;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentelement {
    color: white;
    margin-top:30px;
    width: 100%;
    padding-left: 35%;
    background-color:#1abc9c; 
    border-radius: 25px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-contentelement:hover{
    background-color:#1da58a; 
  }
  .dropdown-contentelement a{
    font-size: 40px;
  }
  .userName{
    font-size: 40px;
  }
  .userhr{
    border: 5px solid white;
  }
  .ulimg{
    height: 200px;
    width:200px;
  }

  /* Change color of dropdown links on hover */
  .dropdown-contentheader a:hover {color:black;}
  
  /* Show the dropdown menu on hover */
  
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownheader:hover .dropbtnheader {
    background-color: #3e8e41;
  }
  .dashboardresp{
    display:block;
  }
  .loginhead{
    display: none;
  }
  .home-title{
    margin-top:2.5vh;
    font-size: 6em;

  }
  .post-title{
    font-size: 3.5em;
    word-wrap: break-word;
  }
  .post-content{
    font-size: 2.5em;
    line-height: 1.5em;
    word-wrap: break-word;
    font-weight: 200;
  }
  .emptydashboard{
    font-size: 4em;
  }
  .deletebutton{
    width: 150px;
    font-size: 1.5em;
    height: 50px;
  }
  .Dailyadd{
    font-size: 5em;
    text-shadow:3px 3px #1abc9c;
    font-weight: 100;
    margin-top: 200px;
  }
  .book-logo{
    margin-top:40px;
    margin-bottom: 20px;
    font-size: 180px;
    color:#1abc9c
  }
  .aboutHeading{
    display: none;
  }
  .aboutHeadingmob
  { display: block;
    font-size: 3.2em;
    font-weight:50;
    text-shadow:2px 2px #1abc9c;
    margin-top:200px;
  }
  .aboutContent{
      font-size: 2em;
      text-shadow:1.5px 1.5px #1abc9c;
      font-weight: lighter; 
  }
  .compose-heading{
    margin-top:150px;
    text-align: center;
    font-size: 5em;
  }
  .compose-label{
    font-size: 4em;
  }
  .title-input{
    height: 100px;
    font-size: 40px;
  }
  .content-input
  { 
    font-size: 50px;
  }
  .page-title{
    margin-top:50px;
    text-align: center;
    font-size: 4em;
  }
  .page-content{
    margin-top:50px;
    font-size: 2.2em;
    line-height: 1.7em;
  }
  .writer-info{
    font-size: 2.2em;
    line-height: 1.3em;
  }
  .errormsg
  {
    font-size: 20px;
    font-weight: 100;
  }
  .footer-padding{
    padding-top: 100px;
  }
  .footer{
    height: 120px;
    padding-top: 20px;
  }
  .footer p{
    font-size: 30px;
  }
  }



  
 