
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color:black !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
    background-color: #1abc9c;
    
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.dropdown {
    margin-bottom:-30px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    margin-top:-20px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .header-body{
    background-color:#1abc9c ;
  }
 