<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/book.PNG" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
  </script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg header-body">
    
    <div class="header-width">
      <button class="dropbtnheader" onclick="myFunction()">D</button>
      <div class="navbar-header">
        <p class="navbar-brand header-brand" style="color: white;font-weight: 600;"><i class="fa fa-book"  style="font-size: 1.5em;" aria-hidden="true"></i> DAILY JOURNAL</p>
      </div>
        <div class="dropdownheader">
         <ul class="nav navbar-nav navbar-right header-ul dropdown-contentheader" id ="uLheader">
          <div class="responsive-login">
            <img src="/images/admin.jpg" alt="" width="200" height="200" style="border-radius: 50%;">
            <% if((typeof isLogin !='undefined')&& isLogin !=false) {%>  
                <li class="nav-item dropdown-contentelement" style="font-size: 40px;color:black">Hi,<%=name%>
                </li>
            <%}else{%>
              <li class="nav-item dropdown-contentelement" id="Login" >
                <a class="nav-link header-content" href="/users/login">LOGIN/SIGN UP</a>
              </li>
            <%}%>
              <li>
                <hr style="border: 5px solid white;">
              </li>
          </div>
            <li class="nav-item dropdown-contentelement"id="home" >
              <a class="nav-link header-content" href="/">HOME</a>
            </li>
            <% if((typeof isLogin !='undefined')&& isLogin !=false) {%>
              <li class="nav-item dropdown-contentelement dashboardresp"id="home" >
                <a class="nav-link header-content" href="/users/dashboard">DASHBOARD</a>
              </li>
            <%}%>
            <li class="nav-item dropdown-contentelement" id="about">
              <a class="nav-link header-content " href="/about" >ABOUT</a>
            </li>
            <li class="nav-item dropdown-contentelement" id="contact">
              <a class="nav-link header-content" href="/contact" >CONTACT US</a>
            </li>
            <li class="nav-item dropdown-contentelement " id="compose">
              <a class="nav-link header-content" href="/users/compose" >COMPOSE</a>
          </li>
          <% if((typeof isLogin !='undefined')&& isLogin !=false) {%>
            <li class="nav-item dropdown-contentelement dashboardresp"id="home" >
              <a class="nav-link header-content" href="/users/logout">LOGOUT</a>
            </li>
          <%}%>
            <% if((typeof isLogin !='undefined')&& isLogin !=false) {%>
                <li id="compose " class="dropdown">
                  <img class="mb-4 loginhead" src="/images/admin.jpg" alt="" width="60" height="60" style="border-radius: 50% ; margin-left:13px;margin-right:-25px">
                    <div class="dropdown-content">
                       <%if(typeof name!='undefined') {%>
                        <p>Hi,<%=name%></p> <hr>
                        <%}%>
                      <a href="/users/dashboard" style="text-decoration: none;;">DASHBOARD</a>
                        <hr>
                        <a href="/users/logout" style="text-decoration: none;">LOGOUT</a>
                    </div>
                  </li> 
               
            <%}else{%>
              <li class="nav-item dropdown-contentelement loginhead" id="login">
                <a class="nav-link header-content" href="/users/login" >LOGIN</a>
              </li>
            <%}%>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
